@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background-color: #f1f1f1;
  --color: #b3b3b3;
  --font-color: #3d3d3d;
  --box-background: #f3f3f3c1;
  --box-shadow: 0px 0px 25px 5px #dbdbdb;
  --link: #3084c0;
  --external-margin: 50px;
}

@media (max-width: 500px) {
  :root {
    --external-margin: 25px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
}

body {
  background-color: var(--background-color);
}

.container {
  position: relative;
  width: 100vw;
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
  padding-top: 00px;
}

.content {
  position: relative;
  width: 100vw;
  max-width: 1000px;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------------------------------ */

/* INITIAL SCREEN */
.mask {
  position: absolute;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  opacity: 1;
  transition: 0.4s;
  text-align: center;
  padding: 0 15px;
}

.mask h1 {
  font-weight: 300;
  font-size: 1.9rem;
  opacity: 1;
  transition: 0.6s;
}
.mask span {
  font-weight: 100;
}

/* ------------------------------------------------------------------ */

/* CANVAS */
.background {
  width: 100%;
  height: 100%;
  padding: var(--external-margin);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

canvas {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: block;
  border: 1px solid var(--color);
  margin: 0 auto;
}

/* ------------------------------------------------------------------ */

/* NAV */
nav {
  position: relative;
  top: calc(var(--external-margin) + 1px);
  padding: calc(var(--external-margin) / 2);
  margin: 0 calc(var(--external-margin) + 1px);
  background: linear-gradient(
    150deg,
    var(--background-color) 30%,
    rgba(0, 0, 0, 0) 43%
  );
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.nav-buttons,
.nav-buttons-mobile {
  display: flex;
  gap: 20px;
}

.nav-buttons button,
.nav-buttons-mobile button,
.sandwich-menu button {
  padding: 5px;
  background-color: var(--color);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  opacity: 1;
  transition: 0.2s;
  cursor: pointer;
}

.nav-buttons button:hover,
.nav-buttons-mobile button:hover {
  opacity: 0.8;
}

nav h2 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

nav h3 {
  font-size: 0.9rem;
  font-weight: 300;
}

nav ul,
.sandwich-menu ul {
  list-style: none;
}

nav li,
.sandwich-menu li {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
  display: flex;
  align-items: center;
}

nav a,
.sandwich-menu a {
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
  color: var(--color);
}

nav span,
.sandwich-menu span {
  font-size: 1.3rem;
  margin: -5px 0;
  /* display: none; */
}

#nav-menu-icon svg {
  padding: 0 6px;
}

/* SANDWICH MENU */
.sandwich-menu {
  width: calc(100vw - calc(var(--external-margin) * 2));
  height: calc(100vh - calc(var(--external-margin) * 2));
  background-color: var(--background-color);
  position: fixed;
  left: 0;
  z-index: 5;
  margin: var(--external-margin);
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 30px;

  border: 1px solid var(--color);
  transition: 0.5s ease-in-out;
}

.close-btn {
  padding: 0 !important;
  position: absolute;
  top: 52px;
  right: 42px;
  transition: 1s;
}

.sandwich-menu li {
  font-size: 1.2rem;
  line-height: 3rem;
}

.nav-buttons-mobile {
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-self: center;

  margin-top: 200px;

  /* border: 1px solid red; */
}

/* ------------------------------------------------------------------ */
/* THEME */
.controls-container {
  position: absolute;
  bottom: 0;
  width: fit-content;
  height: fit-content;
}

.theme,
.language {
  display: flex;
  gap: 20px;
  position: absolute;
  z-index: 2;
}

.theme {
  rotate: -90deg;
  bottom: calc(calc(2 * var(--external-margin)) + 5px);
  left: calc(var(--external-margin) - 70px);
}

.language {
  top: calc(var(--external-margin) - 20px);
  right: calc(var(--external-margin) + 5px);
  font-size: 0.85rem;
}

@media (max-width: 500px) {
  .theme {
    bottom: calc(3 * var(--external-margin));
  }
}

.theme p,
.language p {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* ------------------------------------------------------------------ */

/* HOME */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: calc(100vh - 100px);
  top: 50px;
  margin: auto;
}

@media (max-height: 890px) {
  #home {
    height: 810px;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  background-color: var(--box-background);
  max-width: 500px;
  z-index: 1;
  padding: 20px 40px;
}

@media (max-width: 800px) {
  #home {
    align-items: flex-start;
    height: max-content;
  }
  .home-container {
    max-width: 370px;
    margin: 150px 35px 50px;
  }
}

#home p {
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 20px;
}

.saiba-mais {
  text-align: center;
}

.saiba-mais span {
  color: var(--link);
  text-decoration: underline;
  cursor: pointer;
}

/* ------------------------------------------------------------------ */

/* PROJECTS */
#projects,
#info,
#contact {
  width: 100%;
  max-width: 998px;
  height: calc(100vh - var(--margin-projects));
  padding: var(--external-margin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: var(--margin-projects);
  --margin-projects: 190px;
}

#projects {
  justify-content: flex-start;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.projects-header {
  padding-bottom: 30px;
  margin: 0 10px;
}

#projects h2,
#projects h3,
#projects p {
  width: 100%;
}

#projects h2,
#info h2,
#contact h2 {
  text-align: center;
  margin-bottom: 20px;
}
#projects p,
#info p,
#contact p {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--box-background);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  font-weight: 400;
  line-height: 2.5rem;
}

#projects h3 {
  text-align: center;
  margin: 50px 0;
}

#highlights-container,
#all-projects-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#all-projects-container {
  padding-bottom: 100px;
}

.project {
  max-width: 400px;
  cursor: pointer;
  background-color: var(--background-color);
  border-radius: 15px;
  margin: 5px;
  overflow: hidden;
  border: 1px solid var(--color);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}

.project img {
  width: 100%;
  align-self: center;
  opacity: 0.8;
  transition: all 0.2s;
}

@media (max-width: 768px) {
  .project img {
    opacity: 1;
  }
}

.project:hover img {
  width: 101%;
  opacity: 1;
}

.project p {
  text-align: center;
  border-radius: 0 !important;
  background-color: var(--font-color) !important;
  margin: 0 !important;
  padding: 10px 0 !important;
  font-weight: 300 !important;
  box-shadow: none !important;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.project-lable p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 20px !important;
  gap: 5px;
}

.title-highlights,
.title-all {
  color: var(--background-color) !important;
  line-height: 1rem;
}

.project-icon {
  align-self: center;
  display: flex;
  gap: 5px;
}

.project-icon img {
  opacity: 1;
  height: 20px;
}

/* ------------------------------------------------------------------ */

/* PROJECT MORE */
.project-more-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.808);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: zoom-out;
}

.project-more-content {
  max-width: 900px;
  height: auto;
  max-height: 80vh;
  background-color: var(--font-color);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  gap: 30px;
  cursor: default;
}

.left {
  height: auto;
  display: flex;
  flex-direction: column;
}

#img-cover {
  max-width: 450px;
  height: max-content;
  margin-top: 5px;
  border-radius: 8px;
  cursor: pointer;
}
#project-more-buttons {
  display: flex;
  gap: 25px;
  justify-content: center;
  height: 100%;
  margin-top: 30px;
}

#project-more-buttons button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background-color: var(--background-color);
  font-family: "Roboto";
  font-weight: 500;
  opacity: 0.9;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
  height: 42px;
}

#project-more-buttons button:hover {
  opacity: 1;
}

#project-more-buttons button a {
  text-decoration: none;
  /* align-self: center; */
}

.more-icons {
  fill: var(--font-color);
}

.project-more-content h4,
.project-more-content p {
  color: var(--background-color);
  line-height: 1.8rem;
}

.project-more-content h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
  text-align: center;
  padding-right: 30px;
}

.project-more-content p {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.8rem;
  margin-bottom: 1.2rem;
}

.project-more-content .right {
  position: relative;
  overflow: scroll;
}

.project-more-close {
  position: fixed;
  top: 7.5vh;
  right: 5vw;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--color);
  cursor: pointer;
}

.project-more-close:hover {
  color: #c63838;
}

@media (max-width: 910px) {
  .project-more-content {
    flex-direction: column;
    margin: 0 15px;
    height: max-content;
    overflow: scroll;
    max-height: 90vh;
  }

  #img-cover {
    max-width: 100%;
    margin: 15px;
  }

  .project-more-content .right {
    overflow: visible !important;
  }
}

/* ------------------------------------------------------------------ */

/* INFO AND CONTACT */
#info,
#contact {
  top: 0;
  height: 100vh;
}

.info-container,
.contact-container {
  margin: 0 10px;
}

/* ------------------------------------------------------------------ */

/* BARS */
.top-bar,
.bottom-bar {
  display: block;
  height: calc(var(--external-margin) + 1px);
  width: calc(100% - calc(var(--external-margin) * 2));
  margin-left: var(--external-margin);
  background-color: var(--background-color);
  position: absolute;
  z-index: 1;
}

.top-bar {
  top: 0px;
  border-bottom: 1px solid var(--color);
}

.bottom-bar {
  bottom: 0px;
  border-top: 1px solid var(--color);
}

/* ------------------------------------------------------------------ */

/* HIDE ITEMS */
.hide {
  display: none !important;
}

.hideLanguage {
  display: none !important;
}
