@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background-color: #f1f1f1;
  --color: #b3b3b3;
  --font-color: #3d3d3d;
  --box-background: #f3f3f3c1;
  --box-shadow: #dbdbdb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
}

body {
  background-color: var(--background-color);
}

.container {
  position: relative;
  width: 100vw;
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
}

/* INITIAL SCREEN */
.mask {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  opacity: 1;
  transition: 0.4s;
}

.mask h1 {
  font-weight: 300;
  font-size: 1.9rem;
  opacity: 1;
  transition: 0.6s;
}
.mask span {
  font-weight: 100;
}

/* CANVAS */
.background,
.border {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}

canvas,
.border span {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: block;
  border: 1px solid var(--color);
  margin: 0 auto;
}

/* NAV */
nav {
  position: absolute;
  top: 0;
  padding: 29px;
  margin: 51px;
  background: linear-gradient(
    130deg,
    var(--background-color) 30%,
    rgba(0, 0, 0, 0) 53%
  );
}

nav h2 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

nav h3 {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

nav ul {
  list-style: none;
}

nav li {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
  color: var(--color);
}

nav span {
  font-size: 1.3rem;
  margin: -5px 0;
  /* display: none; */
}

.border {
  z-index: -2;
}

/* THEME */
.theme-container {
  position: absolute;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  z-index: 0;
}

.theme {
  rotate: -90deg;
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 110px;
  left: -30px;
}

.theme p {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* HOME */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 340px;
  height: 100%;
  margin: auto;
}

#home p {
  background-color: var(--box-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 5px var(--box-shadow);
  font-weight: 400;
  line-height: 2.5rem;
}

/* PROJECTS */
#projects {
  max-width: 1000px;
  height: calc(100vh - 300px);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 300px;
  overflow: scroll;
}

#projects h2,
#projects h3,
#projects p {
  width: 100%;
}

#projects h2 {
  text-align: center;
  margin-bottom: 20px;
}
#projects p {
  max-width: 450px;
  margin-bottom: 50px;
}

#projects h3 {
  text-align: center;
  margin-bottom: 50px;
}

.project {
  max-width: 400px;
  cursor: pointer;
  background-color: rgb(160, 217, 160);
  border: 1px solid red;
  border-radius: 15px;
  margin: 5px;
}

.project img {
  width: 100%;
}

/* HIDE ITEMS */
.hide {
  display: none !important;
}
